.card-container {
 display: flex;
 justify-content: space-evenly;
 flex-direction: column;
}

.item-card {
  width:500px;
  height: 600px;
  margin-left: 57px;
  margin-bottom: 50px;
}

.feed-header {
  margin: -40px auto 70px auto;
  text-align: center;
  color: #FFC857
}