
.form-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: #1F2041;
  width: 600px;
  height: 550px;
  border-radius: 8px;
  margin-left: 23%;
  margin-top: 2%;
}

.radial-btn {
  height: 50px;
  width: 80%;
  margin: 0 auto;
}

.btn-txt {
  color: white;
  text-decoration: none;
}

.selected {
  background-color: #586F7C !important;
  border-color: #586F7C !important;
}

.unselected {
  background-color: #119DA4 !important;
  border-color: #119DA4 !important;
}

.unselected:hover {
  background-color: #0E8187 !important;
  border-color: #0E8187 !important;
}


.form-head {
  color: white;
  margin: 7% auto 0 auto;
  text-align: center;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.text-field {
  width: 80%;
  height: 50px;
  background-color: transparent;
  border: #FFC857 solid 1.25px;
  color: white;
  padding-left: 20px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.text-field::placeholder {
  color: #586F7C;
}

.errs {
  color: white;
}

.dept-select {
  width: 80%;
  height: 50px;
  padding-left: 20px;
  background-color: white;
  margin: 0 auto;
}

.sub-btn {
  border: #119DA4 solid 1.25px !important;
  background-color: #119DA4 !important;
  width: 50%;
  height: 70px;
}

.sub-btn span {
  color: white;
  font-size: 2rem;
}

.sub-btn:hover {
  background-color: #0E8187 !important;
  border-color: #0E8187 !important;
}

